[MASTER]
init-hook='import sys; sys.path.append("pysrc")'

[BASIC]
good-names = x, y, dx, dy, fh, db, i, j, w, h, sizeHint, resizeEvent, mousePressEvent, keyReleaseEvent

[MESSAGES-CONTROL]
disable =
    too-many-lines,
    too-many-instance-attributes,
    too-many-statements,
    too-many-branches


