name: Pylint

on:
  push:
    branches:
      - '*'
    branches-ignore:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pylint and its dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pylint
    - name: Analyzing application code with pylint
      run: |
        pylint $(find pysrc -name "*.py")
