name: UnitTests

on:
  push:
    branches:
      - '*'
    branches-ignore:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pytest and its dependencies
      run: |
        python -m pip install pytest pytest-cov coverage
    - name: Run unit tests
      run: |
        #!/bin/bash
        export PYTHONPATH=pysrc
        python -m pytest pytests/ --cov
    - name: Run coverage
      run: |
        #!/bin/bash
        python -m coverage html
    - name: Archive report
      uses: actions/upload-artifact@v3
      with:
        name: coverage-report
        path: |
          htmlcov
